/*//////////PROPERTY OF C.J MAPE, 2024 ©//////////*/

* {
    margin: 0;
    padding: 0;
}

/*BODY*/
body {
    padding-top: 100px;
    height: 120vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    background-image: url(/images/bg/bg-6.jpg);
}

/*LOGO*/
.logo {
    height: 50px;
    cursor: pointer;
}

/*NAV BAR*/
nav {
    display: flex;
    font-size: large;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.219);
    background-color: #001F3F;
    padding: 10px 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
}
nav li {
    margin-left: 29px;
    position: relative;
}
nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 10px;
}
nav ul:not(.sidebar) li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}
nav ul:not(.sidebar) li:hover::after {
    width: 100%;
}

nav ul:not(.sidebar) li:hover a {
    color: rgba(255, 255, 255, 0.785);
}

/*SIDEBAR*/
.sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #00102092;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.307);
    flex-direction: column;
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}
.sidebar.active {
    display: flex;
    transform: translateX(0);
    z-index: 9999;
}
.sidebar li {
    width: 100%;
    padding: 10px 0;
}
.sidebar a {
    width: 100%;
    color: #ffffff;
    text-decoration: none;
}
.sidebar a:hover {
    background-color: #ffffff0a;
    color: #ffffffc3;
}
.menu-button {
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 999;
}
.menu-button a {
    text-decoration: none;
    color: black;
}
.menu-button a:hover {
    background-color: transparent;
    color: black;
    text-decoration: none;
}

/*CONTENT*/
.content {
    position: relative;
    margin-top: 80px;
    text-align: center;
    color: #070707e7;
}

.youtube-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px;
    padding: 30px;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.carousel-wrapper {
    background-color: #001F3F;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}
.carousel-title {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}
.carousel-container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
}
.carousel-arrow.left {
    left: 10px;
}
.carousel-arrow.right {
    right: 10px;
}
.youtube-box {
    background-color: #dedede;
    border: 1px solid #cacaca;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.395);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    position: relative;
    cursor: pointer;
    max-width: 300px;
    height: 250px;
    flex-shrink: 0;
    z-index: 1;
}
.youtube-box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.youtube-box .video-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.09);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    pointer-events: none;
}
.youtube-box:hover .video-preview {
    opacity: 1; 
}
.youtube-box img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 8px;
    transition: opacity 0.3s ease-in-out;
}
.youtube-box h2 {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px;
    background-color: #001F3F;
    color: #fff;
    margin: 0;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
.youtube-box:hover h2 {
    background-color: #007bff;
}
.youtube-box a {
    text-decoration: none;
}

@media (max-width: 400px) {
    .youtube-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .youtube-box {
        min-width: 200px;
        max-width: 250px;
        height: 300px;
    }
    .youtube-box img {
        height: 50%;
    }
}
.footer1 {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #111;
    color: #fff;
    text-align: left;
    padding: 10px;
    font-size: 14px;
}

/*INTERACTIVITY*/
@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
    .content h1,
    .content p {
        margin-left: 10px;
        margin-right: 10px;
        text-align: justify;
    }
}
@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
    .content h1,
    .content p {
        margin-left: 5px;
        margin-right: 5px;
        text-align: justify;
    }
}
